@model CRUD_Vacinas.Models.VacinaViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VacinaViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Criar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" disabled />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NOME" class="control-label"></label>
                <input asp-for="NOME" class="form-control" />
                <span asp-validation-for="NOME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FABRICANTE" class="control-label"></label>
                <input asp-for="FABRICANTE" class="form-control" />
                <span asp-validation-for="FABRICANTE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NUMDOSES" class="control-label"></label>
                <input asp-for="NUMDOSES" class="form-control" />
                <span asp-validation-for="NUMDOSES" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="INTERVALODOSE" class="control-label"></label>
                <input asp-for="INTERVALODOSE" class="form-control" />
                <span asp-validation-for="INTERVALODOSE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
